<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:p="http://www.springframework.org/schema/p" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="
			http://www.springframework.org/schema/beans
			http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
			http://www.springframework.org/schema/tx
			http://www.springframework.org/schema/tx/spring-tx-4.3.xsd
			http://www.springframework.org/schema/aop
			http://www.springframework.org/schema/aop/spring-aop-4.3.xsd
			http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd
			">

	<import resource="classpath*:modest.xml" />
	<import resource="classpath*:redisCluster.xml" />
	
	<bean parent="propertiesPath">
		<property name="locations">
			<array>
				<value>file:/etc/lmw/${project.name}/**/*.properties</value>
			</array>
		</property>
	</bean>

	<!-- 扫描Service -->
	<context:component-scan annotation-config="true"
		base-package="com.demo.service">
		<context:exclude-filter type="annotation"
			expression="org.springframework.stereotype.Controller" />
		<context:exclude-filter type="annotation"
			expression="org.springframework.stereotype.Repository" />
	</context:component-scan>
 	
 	
 	<bean id="demoTopic1" class="org.apache.activemq.command.ActiveMQTopic">
		<constructor-arg value="demoTopic1" />
	</bean>
	<!-- 示例listener:你写的listener需要继承:com.modest.jms.activemq.listener.BaseMessageListener -->
	<bean id="myJmsListener" class="com.demo.jms.MyJmsListener" />
	<!-- 示例listener配置:替换所有demoTopic为你的topic -->
	<bean id="demoListenerContainer" parent="baseJmsListener">
		<property name="destination" ref="demoTopic1" />
		<property name="messageListener" ref="myJmsListener" />
		<property name="clientId"
			value="${jms.connection.clientId}_demoTopic1_Listener" />
		<property name="durableSubscriptionName"
			value="${jms.connection.clientId}_demoTopic1_subscriptionName" />
	</bean>
	
</beans>
